* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 3rem;
}

table {
  border-collapse: collapse;
  min-width: 36rem;
  width: 100%;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
}

table td,
table th {
  border: 0.1rem solid var(--thirdy-color);
  padding: 1rem;
  white-space: nowrap;
}

thead th,
tfoot td {
  background: var(--thirdy-color);
}
