.home-content {
  position: relative;
  top: -7rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.home-text-content,
.home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-text-content h2 {
  font-size: 7rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.home-img img {
  max-width: 100%;
  height: auto;
}

.intro-content {
  display: flex;
  flex-flow: column wrap;
  max-width: 64rem;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

.top3-content {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: center;
}

.top3-content > h2 {
  margin-bottom: 1rem;
}

.top3-content > p {
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3.5rem;
  position: relative;
  padding-left: 5.5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 7rem;
  font-style: italic;
  top: -4rem;
  left: 0.1rem;
  transform: rotate(5deg);
}

.gallery-content > h2 {
  margin-bottom: 1rem;
}

.gallery-content > p {
  margin-bottom: 5rem;
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 250ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.pricing-content {
  max-width: 64rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1 1 32rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.8rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--light-gray-color);
  padding: 1.5rem 1.2rem;
  width: 100%;
  font-size: 2rem;
  outline: none;
}

.full-width {
  width: 100%;
  flex: 1 1 100%;
}

.form-group button {
  border: 0.5rem solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  padding: 1.5rem 1.2rem;
  font-size: 2.2rem;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.form-group button:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 1rem 0.2rem var(--thirdy-color);
}

.footer {
  text-align: center;
  padding: 2rem;
  background: var(--primary-color);
}

.footer p {
  margin: 0;
  padding: 2rem;
  font-size: 1.8rem;
}

.footer a {
  color: var(--white-color);
}

.heart {
  color: var(--secondary-color);
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--primary-color);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.back-to-top:hover {
  background: #666;
}
