.intro-content {
  position: relative;
  top: -7rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 7rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  display: flex;
  flex-flow: column wrap;
  width: 64rem;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
